<section aria-labelledby="nyc-eats" class="container">

  <div class="flex-container">
    <div class="image-container">
      <img src="/images/andre-benz-_T35CPjjSik-unsplash.jpg"
        alt="An aerial photograph of Times Square at night, the buildings and electronic billboards illuminated in vibrant colors.">
      <small>Photo by <a
          href="https://unsplash.com/@trapnation?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andre
          Benz</a> on <a
          href="https://unsplash.com/s/photos/new-york-city?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small>
    </div>
    <div>
      <h1 id="nyc-eats">NYC <span>Eats</span></h1>
      <form action="/nyc-eats/search" method="GET">
        <p>I'm in
          <select name="borough" id="borough">
            <option value="Bronx">the Bronx</option>
            <option value="Brooklyn">Brooklyn</option>
            <option value="Manhattan">Manhattan</option>
            <option value="Queens">Queens</option>
            <option value="Staten Island">Staten Island</option>
          </select>
          <!-- <input type="text" name="borough" id="borough" placeholder="Borough" required> -->
          <label for="borough"></label>
          <!-- <div class="location">
          <ul class="location-list"></ul>
        </div> -->
          and I feel like having
        </p>
        <div class="search-container">
          <label for="cuisine"></label>
          <input type="text" name="cuisine" id="cuisine">
          <div class="suggestions cuisine-suggestions">
            <ul class="suggestions-list cuisine-list"></ul>
          </div>
        </div>
        <button>Search</button>
      </form>
    </div>
  </div>
</section>