<section aria-labelledby="results" class="container">
  <h2 id="results"></h2>
  <ul>
    <% if (results != "") { %>
    <% results.forEach(result => { %>
    <li>
      <div class="card">
        <h2><%= result.name %></h2>
        <p><%= `${result.address.building} ${result.address.street}, ${result.address.zipcode}` %></p>
      </div>
    </li>



    <% }) }  else  { %>
    <li>Sorry, we couldn't find anything!</li>

    <% } %>
  </ul>
</section>