<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nyc_eats.css">
  <title>NYC Eats</title>
</head>
<header>
  <a href="/" class="header-title">NYC Eats</a>
</header>

<body>
  <main>
    <%- body -%>
  </main>

  <footer>
    <span>&copy;2022 Nicole Barnabee-Burns</span>
  </footer>
  <script src="js/nyc_eats.js"></script>
</body>

</html>