/* General Colors and Typography*/

header,
h1 {
  font-family: "Bebas Neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

h1 {
  font-size: 48px;
  margin-block: 1.5rem;
}

h1 > span {
  font-family: "Lobster", cursive;
  color: #ff10f0;
}

body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: rgb(12, 12, 12);
}

small {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.781);
}

small > a {
  text-decoration: underline;
}

/******  PAGE SPECIFIC ELEMENTS ***************/

button {
  background-color: hsla(304, 100%, 60%, 1);
  margin-top: 1.5rem;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

select {
  background-color: white;
  border: none;
  border-radius: 4px;
}

.card {
  margin-bottom: 1rem;
}

.card > h2 {
  color: hsla(304, 100%, 70%, 1);
}

/*  Suggestion box styles */

.search-container {
  position: relative;
}

.search-container input {
  height: 30px;
  padding: 0 10px;
}

.search-container .suggestions {
  position: absolute;
  top: 30px;
  background-color: white;
  border: 2px solid black;
}

.suggestions-list {
  display: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

ul.has-suggestions {
  display: block;
}

.suggestions-list > li {
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}

.suggestions-list li:hover {
  background-color: hsla(304, 100%, 85%, 1);
}
