header {
  text-align: center;
  margin-block: 5px;
}

footer {
  text-align: center;
}

ul {
  list-style-type: none;
}

.container {
  width: 60%;
  margin: 2rem auto;
  background-color: white;
  padding: 3rem;
}

.container > div {
  padding: 10px;
}
