<div>
  <h1>NYC Eats</h1>
  <div>
    <img src="" alt="">
    <form action="" method="">
      <span>I'm in</span>
      <select name="borough" id="borough">
        <option value="Bronx">the Bronx</option>
        <option value="Brooklyn">Brooklyn</option>
        <option value="Manhattan">Manhattan</option>
        <option value="Queens">Queens</option>
        <option value="Staten Island">Staten Island</option>
      </select>
      <!-- <input type="text" name="borough" id="borough" placeholder="Borough" required> -->
      <label for="borough"></label>
      <!-- <div class="location">
        <ul class="location-list"></ul>
      </div> -->
      <span>and I feel like having</span>

      <div class="search-container">
        <label for="cuisine"></label>
        <input type="text" name="cuisine" id="cuisine">
        <div class="suggestions cuisine-suggestions">
          <ul class="suggestions-list cuisine-list"></ul>
        </div>
      </div>
    </form>
  </div>
</div>